pet*.txt

DB-*

# Compiled class file
*.class

# Log file
*.log

# Virtual machine crash logs
hs_err_pid*
replay_pid*

# MacOS
.DS_Store

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
/bin/
